*,
			*::after,
			*::before {
				box-sizing: border-box;
			}
			body {
				background-color: #FCE5E5;
				margin: 0 10%;
				font-family: Courier New, monospace;
			}

			h1 {
				text-align: center;
				font-family: Lucida Console, monospace;
				font-weight: normal;
				text-transform: uppercase;
				border-bottom: 1px solid #57b1dc;
				margin-top: 30px;
			}

			h2 {
				text-align: center;
				font-family: Lucida Console, monospace;
				font-weight: normal;
				text-transform: uppercase;
				border-bottom: 1px solid #57b1dc;
				margin-top: 30px;
			}

			figure {
				max-width: 30%;
			}

			img {
				margin: 0;
				padding: 0;
				width: 100%;
			}

			.bio {
				display: flex;
				justify-content: safe center;
			}

			.contact {
				display: flex;
			}

			.quals {
				min-width: 100%;
			}

			body {
				width:100vw; 
				display: flex; 
				flex-wrap:wrap; 
			} 